<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>죽음의 가위바위보</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body style="padding-bottom: 150px;">
    <div class="container mt-4">
        <h1 class="text-center">죽음의 가위바위보</h1>
        <div class="d-flex justify-content-center">
            <form action="/" method="get" class="text-center me-2">
                <div class="mb-3">
                    <select class="form-select form-select-sm mx-auto" style="max-width: 200px;" aria-label="Small select example" name="query" required>
                        <option value="" selected disabled>가위바위보 선택</option>
                        <option value="가위">가위</option>
                        <option value="바위">바위</option>
                        <option value="보">보</option>
                    </select>
                </div>
                <input class="btn btn-primary mt-3" type="submit" value="선택완료">
            </form>
            <form action="/" method="get" class="text-center ms-2">
                <input type="hidden" name="reset" value="true">
                <input class="btn btn-danger mt-3" type="submit" value="기록 초기화">
            </form>
        </div>
    </div>

    <div class="container mt-2">
        <div class="row justify-content-center mt-4">
            <div class="col-md-10 col-lg-8">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-2">#</div>
                            <div class="col-3">컴퓨터</div>
                            <div class="col-3">사용자</div>
                            <div class="col-3">결과</div>
                        </div>
                    </li>
<!--                    {% for element in collection %}-->
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-2">{{ element.matches }}</div>
                            <div class="col-3">{{ element.cpu }}</div>
                            <div class="col-3">{{ element.user }}</div>
                            <div class="col-3">{{ element.result }}</div>
                        </div>
                    </li>
<!--                    {% endfor %}-->
                </ul>
            </div>
        </div>
    </div>

    <div class="fixed-bottom bg-light py-3">
        <h4 class="text-center">경기 결과 통계</h4>
        <div class="row justify-content-center">
            <div class="col-12 col-md-1 mb-2">
                <div class="d-flex justify-content-between align-items-center border p-2 rounded">
                    <span>승</span>
                    <span class="badge bg-success rounded-pill">{{ context.win }}</span>
                </div>
            </div>
            <div class="col-12 col-md-1 mb-2">
                <div class="d-flex justify-content-between align-items-center border p-2 rounded">
                    <span>패</span>
                    <span class="badge bg-danger rounded-pill">{{ context.lose }}</span>
                </div>
            </div>
            <div class="col-12 col-md-1 mb-2">
                <div class="d-flex justify-content-between align-items-center border p-2 rounded">
                    <span>무</span>
                    <span class="badge bg-secondary rounded-pill">{{ context.draw }}</span>
                </div>
            </div>
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
